*
	padding: 0
	margin: 0
	box-sizing: border-box

:host
	container-type: inline-size
	--musik-color-textPrimary: #fff
	--musik-color-textSecondary: #fff
	--musik-color-accentPrimary: #fff
	--musik-color-accentSecondary: #808080
	--musik-color-accentTertiary: #808080
	--musik-fontWeight-primary: 400
	--musik-fontWeight-secondary: 400
	--musik-fontWeight-tertiary: 400
	--musik-borderRadius-primary: 0

.container
	position: relative
	display: grid
	grid-template-columns: minmax(0, 18.18em) 1fr
	gap: 1.36em
	width: 100%
	@container (max-width: 45em)
		grid-template-columns: 1fr
	.progress
		grid-column: span 2
		height: 0.9em
		border-radius: var(--musik-borderRadius-primary)
		background: var(--musik-color-accentSecondary)
		overflow: hidden
		cursor: pointer
		@container (max-width: 45em)
			grid-column: span 1
		.bar
			width: 0
			height: 100%
			background: var(--musik-color-accentPrimary)
	.meta
		cursor: default
		.image
			display: block
			aspect-ratio: 1/1
			object-fit: cover
			width: 100%
			border-radius: var(--musik-borderRadius-primary)
		.title, .artist
			text-overflow: ellipsis
			overflow: hidden
			white-space: nowrap
		.title
			margin-top: 0.8em
			font-size: 1.1em
			color: var(--musik-color-textPrimary)
			font-weight: var(--musik-fontWeight-secondary)
		.artist
			font-size: 1.1em
			color: var(--musik-color-textSecondary)
			font-weight: var(--musik-fontWeight-tertiary)
	.playlist
		display: flex
		flex-direction: column
		button
			display: grid
			grid-template-columns: max-content minmax(0, 1fr) max-content
			align-items: center
			column-gap: 0.4em
			padding: 0.7em
			border-radius: var(--musik-borderRadius-primary)
			border: none
			background: none
			font-family: inherit
			font-size: inherit
			color: var(--musik-color-textPrimary)
			font-weight: var(--musik-fontWeight-primary)
			text-align: left
			transition: background 0.3s
			cursor: pointer
			.play-icon, .pause-icon
				display: flex
				width: 1.3em
				fill: var(--musik-color-accentSecondary)
				transition: fill 0.3s
			.pause-icon
				display: none
			.track-title, .track-duration
				color: var(--musik-color-textPrimary)
			.track-title
				text-overflow: ellipsis
				overflow: hidden
				white-space: nowrap
			.track-duration
				margin-left: auto
		button.active, button:hover
			background: var(--musik-color-accentTertiary)
			.play-icon, .pause-icon
				fill: var(--musik-color-accentPrimary)
		button:focus-visible
			outline: 2px solid var(--musik-color-textPrimary)
.container.playing
	.playlist
		button.active
			.play-icon
				display: none
			.pause-icon
				display: flex